<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RadeonNIGA</string>
	<key>CFBundleIdentifier</key>
	<string>org.osxgpu.RadeonNIGA</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RadeonNIGA</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>5D1E2B7A-93C4-4E0F-8A61-2F7B90C3D4E6</key>
		<string>RadeonNIGAFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>ACCF0000-0000-0000-0000-000a2789904e</key>
		<array>
			<string>5D1E2B7A-93C4-4E0F-8A61-2F7B90C3D4E6</string>
		</array>
	</dict>
</dict>
</plist>
